<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>

    <!-- Add Custom Meta Data -->

    <meta content="dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper" name="keywords" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta content="Description goes here" name="description" />
    <title>Title goes here</title>
    <meta property="og:url" content="URL goes here" />
    <meta property="og:title" content="Title goes here"/>
    <meta property="og:description" content="Description goes here" name="description"/>
    <meta property="og:image" content="share image url goes here"/>
    <meta property="og:image:height" content="400"/>
    <meta property="og:image:width" content="600"/>
    <meta name="twitter:card" content="summary_large_image">

    <meta name='parsely-page' id='parsely-page' content='{"title": "Title goes here", "link": "URL goes here", "image_url": "Share image url goes here", "type": "post", "post_id": "########### <- UNIQUE POST ID HERE", "pub_date": "YEAR-MM-DD", "section": "SECTION GOES HERE", "author": ["AUTHOR GOES HERE"], tags": ["dallas", "dallas fort worth", "dallas news", "dallas fort worth news", "dfw news", "dallas local news", "dallas fort worth local news", "dallas breaking news", "dallas fort worth breaking news", "dallas weather", "dallas fort worth weather", "dallas traffic", "dallas fort worth traffic", "dallas sports", "dallas fort worth sports", "dallas entertainment", "dallas fort worth entertainment", "dallas newspaper", "dallas morning news", "dallas morning news newspaper"]}'/>

    <meta property="og:keywords" content="dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper"/>

    <meta name='news_keywords' content='dallas, dallas fort worth, dallas news, dallas fort worth news, dfw news, dallas local news, dallas fort worth local news, dallas breaking news, dallas fort worth breaking news, dallas weather, dallas fort worth weather, dallas traffic, dallas fort worth traffic, dallas sports, dallas fort worth sports, dallas entertainment, dallas fort worth entertainment, dallas newspaper, dallas morning news, dallas morning news newspaper'/>

    <!-- End Custom Meta Data -->
    
    <meta property="fb:app_id" content="258290334265148"/>
    <meta property="fb:page_id" content="20946638799"/>
    <meta property="fb:admins" content="1043783589"/>

    <link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
    <link rel="stylesheet" type="text/css" href="css/theme.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://interactives.templates.statics.s3.amazonaws.com/v1.0/css/print.css" media="print"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,700italic%7CMerriweather:400,400italic' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-styles.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
      <script type="text/javascript">
        WebFont.load({
          google: { //change custom to google: if using google cdn font
            families: ['Open+Sans', 'Merriweather'],
          }
        });

    </script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Un-note the following line to use bowser.js (for browser type and version detection) -->
    <!-- <script src="http://interactives.templates.statics.s3.amazonaws.com/v1.0/js/bowser.min.js"></script> -->

    <!-- Un-note the following line to use jquery.swipe for for swipe events -->
    <!-- <script src="http://interactives.templates.statics.s3.amazonaws.com/v1.0/js/jquery.swipe.min.js"></script> -->

    <!-- Un-note the following line to use modernizr.touch for touch device detection -->
    <!-- <script src="http://interactives.templates.statics.s3.amazonaws.com/v1.0/js/modernizr.touch.js"></script> -->

     <!-- Un-note the following line to use NDN video -->
    <!-- <script type="text/javascript" async src="http://launch.newsinc.com/js/embed.js" id="_nw2e-js"></script >-->

    <!--[if lt IE 9]><script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/respond.min.js"></script><![endif]-->

    <!--
    ================================
    START AD CODE
    ================================
    -->

    <script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
    <script type="text/javascript">
    DFP_networkId = "11222444";
    var DFPSlotSizes = [];
    if (jQuery(window).width() < 768)
    {
    var DFP_sitepage = "m.DMN/interactives";
    DFPSlotSizes = [320,50]
    var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
    adSlot0.setTargeting("position", "x01");
    adSlot0.addService(googletag.pubads());
    
    /*
    var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
    adSlot1.setTargeting("position", "x02");
    adSlot1.addService(googletag.pubads());
    */
    
    /*
    var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
    adSlot2.setTargeting("position", "x03");
    adSlot2.addService(googletag.pubads());
    */
    }
    else
    {
    var DFP_sitepage = "DMN/interactives";
     DFPSlotSizes = [728,90]
    var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
    adSlot0.setTargeting("position", "Top");
    adSlot0.addService(googletag.pubads());
    
    /*
    var adSlot1 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionMiddle");
    adSlot1.setTargeting("position", "Top");
    adSlot1.addService(googletag.pubads());
    */
    
    /*
    var adSlot2 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionBottom");
    adSlot2.setTargeting("position", "Top");
    adSlot2.addService(googletag.pubads());
    */
     }
    </script>
    <script type="text/javascript">
    googletag.pubads().enableSingleRequest();
    googletag.pubads().enableSyncRendering();
    googletag.enableServices();
    </script>

    <!--
    ================================
    END AD CODE
    ================================
    -->

</head>
<body>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '375853655843043',
                xfbml: true,
                version: 'v2.3'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parselyDynamicTracking.js"></script>
    <script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-header.js"></script>

    <article id="content">

        <section id="contentHeader">
            <img src="images/defaultImage.jpg" alt="FILL THIS IN">
            <p class="cutline">Cutline goes here. You can remove this tag if you don't feel the lead image needs a cutline</p>
        </section>
        <!-- end contentHeader -->

        <section class="contentWell clearFix">

            <header id="storyHead">
                <h3>Label, if needed</h3>
                <h1>Main Headline</h1>
                <h2>Deck head goes in this spot here</h2>
            </header>
                <!-- end storyHead -->

            <div class="bylineBlock">
                <p>By <a target="blank" href="mailto:emailaddresshere">Writer Name</a> | Staff Writer</p>
                <p>Published Month Date, Year</p>
               </div>
            <!-- end bylineBlock -->

              <div class="shareComments shareCommentsTop">
                <ul id="share-bar1" class="width-auto-hack"></ul>
            </div>
            <!-- end shareComments -->



<!-- 			<p class="intro"><span class="dropcap">A</span>n opening paragraph goes here. orem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum tortor a eleifend sagittis. Quisque laoreet elit vitae turpis aliquet tincidunt. Nulla molestie vitae purus eget dignissim. Quisque blandit nibh lorem, non mollis velit rutrum ac. Pellentesque pharetra mattis luctus.</p>
 -->
        </section>

        <section id="cowboysGame" class="clearFix">

            <div id="roster" class="clearFix">
                <button class="submitRoster noShow">Submit</button>
                <h5 class="rosterLabel">Your roster</h5>
                <div class="rosterSlot clearFix" data-position="qb" data-cost="0">
                    <img class="playerImg" src="images/defaultMug.jpg" alt="Choose a player" />
                    <div class="playerInfo">
                        <p class="position">Quarteback</p>
                        <h5 class="slotName">Choose a player</h5>
                        <h5 class="salary">—</h5>
                    </div>
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="rosterSlot clearFix" data-position="rb" data-cost="0">
                    <img class="playerImg" src="images/defaultMug.jpg" alt="Choose a player" />
                    <div class="playerInfo">
                        <p class="position">Running back</p>
                        <h5 class="slotName">Choose a player</h5>
                        <h5 class="salary">—</h5>
                    </div>
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="rosterSlot clearFix" data-position="rb" data-cost="0">
                    <img class="playerImg" src="images/defaultMug.jpg" alt="Choose a player" />
                    <div class="playerInfo">
                        <p class="position">Running back</p>
                        <h5 class="slotName">Choose a player</h5>
                        <h5 class="salary">—</h5>
                    </div>
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="rosterSlot clearFix" data-position="wr" data-cost="0">
                    <img class="playerImg" src="images/defaultMug.jpg" alt="Choose a player" />
                    <div class="playerInfo">
                        <p class="position">Receiver/Tight End</p>
                        <h5 class="slotName">Choose a player</h5>
                        <h5 class="salary">—</h5>
                    </div>
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="rosterSlot clearFix" data-position="wr" data-cost="0">
                    <img class="playerImg" src="images/defaultMug.jpg" alt="Choose a player" />
                    <div class="playerInfo">
                        <p class="position">Receiver/Tight End</p>
                        <h5 class="slotName">Choose a player</h5>
                        <h5 class="salary">—</h5>
                    </div>
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="rosterSlot clearFix" data-position="def" data-cost="0">
                    <img class="playerImg" src="images/defaultMug.jpg" alt="Choose a player" />
                    <div class="playerInfo">
                        <p class="position">Defense</p>
                        <h5 class="slotName">Choose a player</h5>
                        <h5 class="salary">—</h5>
                    </div>
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="rosterSlot clearFix" data-position="k" data-cost="0">
                    <img class="playerImg" src="images/defaultMug.jpg" alt="Choose a player" />
                    <div class="playerInfo">
                        <p class="position">Kicker</p>
                        <h5 class="slotName">Choose a player</h5>
                        <h5 class="salary">—</h5>
                    </div>
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="rosterSlot clearFix">
                    <h6>Spent<span class="totalSal sal">$0</span></h6>
                    <h6>Available<span class="availableSal sal">$18</span> </h6>
                    <h6 class="clearRoster">Clear<span><i class="fa fa-times-circle"></i></span></h6>
                </div>

                <button class="submitRoster noShow largeSubmit">Submit Roster</button>


            </div>


            <div id="positions">

                    <div class="posBlock clearFix" id="quarterbacks">
                        <h3>Quarterbacks</h3>
                        <p>The quarterback for the Dallas Cowboys has always held a sort of pop-culture status. Who will you pick to lead your team? Aikman and Staubach have Super Bowls rings but are not cheap. Romo, who is more affordable, holds the team record for touchdown passes.</p>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>
                            <div class="posSlot quarterback" data-cost="5"  data-position="qb">
                                <img src="images/aikman.jpg" alt="Troy Aikman" />
                                <h5>$5</h5>
                                <h4>Troy Aikman</h4>
                                <p><strong>1989-2000: </strong>61.5% comp, 32,942 yds, 165 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot quarterback" data-cost="4" data-position="qb">
                                <img src="images/staubach.jpg" alt="Roger Staubach" />
                                <h5>$4</h5>
                                <h4>Roger Staubach</h4>
                                <p><strong>1969-79</strong>: 57.0% comp, 22,700 yds, 153 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot quarterback" data-cost="3" data-position="qb">
                                <img src="images/romo.jpg" alt="Tony Romo" />
                                <h5>$3</h5>
                                <h4>Tony Romo</h4>
                                <p><strong>2006-15</strong>: 65.2% comp, 33,270 yds, 242 TDs </p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot quarterback" data-cost="2" data-position="qb">
                                <img src="images/white.jpg" alt="Danny White" />
                                <h5>$2</h5>
                                <h4>Danny White</h4>
                                <p><strong>1976-88</strong>: 59.7% comp, 21,959 yds, 155 TDs </p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot quarterback" data-cost="1" data-position="qb">
                                <img src="images/meredith.jpg" alt="Don Meredith" />
                                <h5>$1</h5>
                                <h4>Don Meredith</h4>
                                <p><strong>1960-68</strong>: 50.7% comp, 17,199 yds, 135 TDs </p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>

                            <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>

                    </div>


                    <div class="posBlock clearFix" id="runningbacks">
                        <h3>Running backs</h3>
                        <p>Plenty of talent to pick from in this group. Emmitt Smith is the all-time leading rusher in the NFL, and DeMarco Murray just set a team record for yards from scrimmage. Marion Barber racked up 47 touchdowns in his six seasons. Remember, you've got to pick two to fill out your roster</p>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>
                            <div class="posSlot runningback" data-cost="5"  data-position="rb">
                                <img src="images/smith.jpg" alt="Emmitt Smith" />
                                <h5>$5</h5>
                                <h4>Emmitt Smith</h4>
                                <p><strong>1990-2002: </strong>17,162 rushing yds, 153 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="5" data-position="rb">
                                <img src="images/dorsett.jpg" alt="Tony Dorsett" />
                                <h5>$5</h5>
                                <h4>Tony Dorsett</h4>
                                <p><strong>1977-87: </strong>12,036 rushing yds, 72 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="4" data-position="rb">
                                <img src="images/murray.jpg" alt="" />
                                <h5>$4</h5>
                                <h4>DeMarco Murray</h4>
                                <p><strong>2011-14: </strong>4,526 rushing yds, 28 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="4" data-position="rb">
                                <img src="images/perkins.jpg" alt="Don Perkins" />
                                <h5>$4</h5>
                                <h4>Don Perkins</h4>
                                <p><strong>1961-68: </strong>6,217 rushing yds, 42 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="3" data-position="rb">
                                <img src="images/newhouse.jpg" alt="Robert Newhouse" />
                                <h5>$3</h5>
                                <h4>Robert Newhouse</h4>
                                <p><strong>1972-83: </strong>4,784 rushing yds, 31 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>

                            <div class="posSlot runningback" data-cost="3"  data-position="rb">
                                <img src="images/hill.jpg" alt="Calvin Hill" />
                                <h5>$3</h5>
                                <h4>Calvin Hill</h4>
                                <p><strong>1969-74: </strong>5,009 rushing yds, 39 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="2" data-position="rb">
                                <img src="images/barber.jpg" alt="Marion Barber" />
                                <h5>$2</h5>
                                <h4>Marion Barber</h4>
                                <p><strong>2005-10: </strong>4,358 rushing yds, 47 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="2" data-position="rb">
                                <img src="images/walker.jpg" alt="Herschel Walker" />
                                <h5>$2</h5>
                                <h4>Herschel Walker</h4>
                                <p><strong>1986-97: </strong>3,491 rushing yds, 27 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="1" data-position="rb">
                                <img src="images/garrison.jpg" alt="Walt Garrison" />
                                <h5>$1</h5>
                                <h4>Walt Garrison</h4>
                                <p><strong>1966-74: </strong>3,886 rushing yds, 30 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot runningback" data-cost="1" data-position="rb">
                                <img src="images/johnston.jpg" alt="Daryl Johnston" />
                                <h5>$1</h5>
                                <h4>Daryl Johnston</h4>
                                <p><strong>1989-98: </strong>753 rushing yds, 8 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>

                    </div>

                    <div class="posBlock clearFix" id="widereceivers">
                        <h3>Wide receivers and tight ends</h3>
                        <p>Two No. 88’s, Michael Irvin and Dez Bryant, top our list of receivers for you to pick from, and it would be hard to argue with their combined 121 combined touchdown receptions. Bob Hayes, an affordable middle-of-the-road option, holds the team record with 71 touchdown catches. Like running backs, you have to pick two.</p>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>
                            <div class="posSlot widereceiver" data-cost="5"  data-position="wr">
                                <img src="images/irvin.jpg" alt="Michael Irvin" />
                                <h5>$5</h5>
                                <h4>Michael Irvin</h4>
                                <p><strong>1988-99: </strong>750 rec, 11,904 yds, 65 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="5" data-position="wr">
                                <img src="images/bryant.jpg" alt="Dez Bryant" />
                                <h5>$5</h5>
                                <h4>Dez Bryant</h4>
                                <p><strong>2010-15: </strong>381 rec, 5,424 yds, 56 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="4" data-position="wr">
                                <img src="images/witten.jpg" alt="Jason Witten" />
                                <h5>$4</h5>
                                <h4>Jason Witten</h4>
                                <p><strong>2003-15: </strong>943 rec, 10,502 yds, 57 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="4" data-position="wr">
                                <img src="images/pearson.jpg" alt="Drew Pearson" />
                                <h5>$4</h5>
                                <h4>Drew Pearson</h4>
                                <p><strong>1973-83: </strong>489 rec, 7,822 yds, 48 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="3" data-position="wr">
                                <img src="images/thill.jpg" alt="Tony Hill" />
                                <h5>$3</h5>
                                <h4>Tony Hill</h4>
                                <p><strong>1977-86: </strong>479 rec, 7,988 yds, 51 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>

                            <div class="posSlot widereceiver" data-cost="3"  data-position="wr">
                                <img src="images/hayes.jpg" alt="Bob Hayes" />
                                <h5>$3</h5>
                                <h4>Bob Hayes</h4>
                                <p><strong>1965-74: </strong>365 rec, 7,295 yds, 71 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="2" data-position="wr">
                                <img src="images/clarke.jpg" alt="Frank Clarke" />
                                <h5>$2</h5>
                                <h4>Frank Clarke</h4>
                                <p><strong>1960-67: </strong>281 rec, 5,214 yds, 50 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="2" data-position="wr">
                                <img src="images/owens.jpg" alt="Terrell Owens" />
                                <h5>$2</h5>
                                <h4>Terrell Owens</h4>
                                <p><strong>2006-08: </strong>235 rec, 3,587 yds, 38 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="1" data-position="wr">
                                <img src="images/cosbie.jpg" alt="Doug Cosbie" />
                                <h5>$1</h5>
                                <h4>Doug Cosbie</h4>
                                <p><strong>1979-88: </strong>300 rec, 3,728 yds, 30 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot widereceiver" data-cost="1" data-position="wr">
                                <img src="images/novacek.jpg" alt="Jay Novacek" />
                                <h5>$1</h5>
                                <h4>Jay Novacek</h4>
                                <p><strong>1990-95: </strong>339 rec, 3,576 yds, 22 TDs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>

                    </div>

                    <div class="posBlock clearFix" id="defenses">
                        <h3>Defenses</h3>
                        <p>Three of our five defenses won Super Bowls, 1971, 1977 and 1992. The 1968 squad was no slouch either, holding opponents to 13.3 points per game while forcing 41 turnovers.</p>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>
                            <div class="posSlot defense" data-cost="5"  data-position="def">
                                <img src="images/rwhite.jpg" alt="Randy White" />
                                <h5>$5</h5>
                                <h4>1977</h4>
                                <p><strong>Featuring Randy White: </strong>15.3 pts allowed/gm, 31 TOs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot defense" data-cost="4" data-position="def">
                                <img src="images/haley.jpg" alt="Charles Haley" />
                                <h5>$4</h5>
                                <h4>1992</h4>
                                <p><strong>Featuring Charles Haley: </strong>15.2 pts allowed/gm, 31 TOs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot defense" data-cost="3" data-position="def">
                                <img src="images/renfro.jpg" alt="Mel Renfro" />
                                <h5>$3</h5>
                                <h4>1968</h4>
                                <p><strong>Featuring Mel Renfro: </strong>13.3 pts allowed/gm, 41 TOs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot defense" data-cost="2" data-position="def">
                                <img src="images/woodson.jpg" alt="Darren Woodson" />
                                <h5>$2</h5>
                                <h4>2003</h4>
                                <p><strong>Featuring Darren Woodson: </strong>16.3 pts allowed/gm, 25 TOs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot defense" data-cost="1" data-position="def">
                                <img src="images/lilly.jpg" alt="Bob Lilly" />
                                <h5>$1</h5>
                                <h4>1971</h4>
                                <p><strong>Featuring Bob Lilly: </strong>15.9 pts allowed/gm, 51 TOs</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>

                    </div>

                    <div class="posBlock clearFix" id="kickers">
                        <h3>Kickers</h3>
                        <p>We’re going to do you a solid here. Kickers are free, so, go ahead and take Dan Bailey and smile. Unless, of course, you're related to Billy Cundiff or Chris Boniol.</p>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>
                            <div class="posSlot kicker" data-cost="0"  data-position="k">
                                <img src="images/bailey.jpg" alt="Dan Bailey" />
                                <h5>$0</h5>
                                <h4>Dan Bailey</h4>
                                <p><strong>2011-14: </strong>114/127 FG, 16/23 50+ yds</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot kicker" data-cost="0" data-position="k">
                                <img src="images/cundiff.jpg" alt="Billy Cundiff" />
                                <h5>$0</h5>
                                <h4>Billy Cundiff</h4>
                                <p><strong>2002-05: </strong>60/82 FG, 4/9 50+ yds</p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                            <div class="posSlot kicker" data-cost="0" data-position="k">
                                <img src="images/boniol.jpg" alt="Chris Boniol" />
                                <h5>$0</h5>
                                <h4>Chris Boniol</h4>
                                <p><strong>1994-96: </strong>81/93 FG, 2/6 50+ yds </p>
                                <button><i class="fa fa-plus-circle"></i></button>
                            </div>
                        <button class="rosterReturn"><i class="fa fa-chevron-left"></i> Return to roster</button>
                    </div>

                </div>
            </section>

            <div class="resultsModal noShow clearFix">

                <div class="finalRoster">

                    <h3>Your Cowboys roster</h3>
                    <p>Here are the results of your fantasy roster, along with the percentage of other readers who selected the players you selected. Tweet, share, or build a whole new team.</p>

                    <div class="resultsSlot clearFix">
                        <img src="images/defaultMug.jpg" alt="default player" />
                        <h5 class="resultName">Player name</h5>
                        <h4 class="resultPct"></h4>
                    </div>

                    <div class="resultsSlot clearFix">
                        <img src="images/defaultMug.jpg" alt="default player" />
                        <h5 class="resultName">Player name</h5>
                        <h4 class="resultPct"></h4>
                    </div>

                    <div class="resultsSlot clearFix">
                        <img src="images/defaultMug.jpg" alt="default player" />
                        <h5 class="resultName">Player name</h5>
                        <h4 class="resultPct"></h4>
                    </div>

                    <div class="resultsSlot clearFix">
                        <img src="images/defaultMug.jpg" alt="default player" />
                        <h5 class="resultName">Player name</h5>
                        <h4 class="resultPct"></h4>
                    </div>

                    <div class="resultsSlot clearFix">
                        <img src="images/defaultMug.jpg" alt="default player" />
                        <h5 class="resultName">Player name</h5>
                        <h4 class="resultPct"></h4>
                    </div>

                    <div class="resultsSlot clearFix">
                        <img src="images/defaultMug.jpg" alt="default player" />
                        <h5 class="resultName">Player name</h5>
                        <h4 class="resultPct"></h4>
                    </div>

                    <div class="resultsSlot clearFix">
                        <img src="images/defaultMug.jpg" alt="default player" />
                        <h5 class="resultName">Player name</h5>
                        <h4 class="resultPct"></h4>
                    </div>


                    <button class="tweetRoster"><i class="fa fa-twitter"></i> &nbsp;Tweet</button>
                    <button class="shareRoster"><i class="fa fa-facebook"></i> &nbsp;Share</button>
                    <button class="backToGame"><i class="fa fa-undo"></i> &nbsp;Play again</button>
                </div>

            </div>

            <section class='contentWell'>



            <section class="credits clearFix">
                <p>Author: <a href="mailto:emailaddress">Name</a></p>
                <p>Editor: <a href="mailto:emailaddress">Name</a></p>
                <p>Copy Editor: <a href="mailto:emailaddress">Name</a></p>
                <p>Photos: <a href="mailto:emailaddress">Name</a></p>
                <p>Graphics: <a href="mailto:emailaddress">Name</a></p>
                <p>Designer: <a href="mailto:emailaddress">Name</a></p>
            </section>
            <!-- end credits -->

            <section class="more clearFix">
                <h5>More from The Dallas Morning News</h5>
                <a class="clearFix" href="#">
                    <img src="images/defaultImage.jpg" alt="Fill this in">
                    <h6>Story title goes here</h6>
                    <p>Description of the story goes in this spot here</p>
                </a>
                <a class="clearFix" href="#">
                    <img src="images/defaultImage.jpg" alt="Fill this in">
                    <h6>Story title goes here</h6>
                    <p>Description of the story goes in this spot here</p>
                </a>
                <a class="clearFix" href="#">
                    <img src="images/defaultImage.jpg" alt="Fill this in">
                    <h6>Story title goes here</h6>
                    <p>Description of the story goes in this spot here</p>
                </a>
            </section>
            <!-- end more -->

              <div class="shareComments">
                <ul id="share-bar2" class="width-auto-hack"></ul>
                <div id="comments"></div>
            </div>
            <!-- end shareComments -->

        </section>
        <!-- end contentWell -->

    </article>

    <script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-footer.js"></script>
    <script type="text/javascript" src="js/customJS.js"></script>
    <!-- Gigya -->
    <!-- Can this be included when initialized? -->
    <script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_9lzrxJh-GQofXtoOq-ADFDpwOla0DXKJOvVl_KnlZPjeuRyBKYHjyaA2UYgGvXGv&amp;ver=3.0.4">
        {
            lang : 'en',
            enabledProviders: 'facebook,twitter,google,linkedin,yahoo,messenger',
            connectWithoutLoginBehavior: 'alwaysLogin'
        }
    </script>
    <!-- Gigya Templates -->
    <script id="gigya-new-user-tmpl" type="text/x-jquery-tmpl">
        <div id='gigya-new-user-wrap' class='float-left'>
            <h3 class='label'>Please provide your email address to join</h3>
            <p>
                <label>Email<br>
                    <input type='text' name='email' size='20' value='' class='input'>
                </label>
            </p>
            <div class='button-wrap'>
                <input id='gigya-new-user-button' style='width:auto;' type='button' value='Register' class='button-primary'>
            </div>
        </div>
    </script>
    <script id="gigya-account-linking-tmpl" type="text/x-jquery-tmpl">
        <div id='gigya-sep-wrap'>
            <div class="sep-line"></div>
            <h3>OR</h3>
            <div class="sep-line"></div>
        </div>
        <div id='gigya-account-linking-wrap'>
            <h3 class='label'>Yes, Please link my existing account with ${user.loginProvider} for quick and secure access</h3>
            <p>
                <label>Email<br>
                    <input type='text' size='20' value='' class='input' name='email'>
                </label>
            </p>
            <p>
                <label>Password<br>
                    <input type='password' size='20' value='' class='input' name='password'>
                </label>
            </p>
            <div class='button-wrap'>
                <input id='gigya-new-account-button' style='width:auto;' type='button' value='Link Accounts' class='button-primary'>
            </div>
        </div>
    </script>
    <script id="gigya-header-tmpl" type="text/x-jquery-tmpl">
        <div id='dialog-header'>
            <div class="ui-helper-clearfix">
            <img class='thumbnail' src='${user.thumbnailURL}'/>
            <p class='text'>
                <b>Hi ${user.firstName}</b>
                {{if isEmailExist}}, The email is already used, please provide a new email or link to an existing account.{{/if}}
                {{if isNewUser}}{{/if}}
            </p>
            </div>
        </div>
    </script>
    <!-- End Gigya Templates -->
    <!-- End Gigya -->

    <script type="text/javascript">
    var storyTitle = "TITLE HERE",
        storyURL = "URL Here",
        leadText = "DESCRIPTION HERE",
        storyIMG = "SHARE IMAGE URL HERE",
        storyAuthor = "AUTHOR NAME HERE",
        twitterTag = "dallasnews"
        comments = true,
        share = true;
    </script>
    <script type="text/javascript">OAS_sitepage = 'SECTION URL HERE';</script>
    <script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/common.js"></script>
    <script type="text/javascript" src="http://res.dallasnews.com/resrsc/js/biomniture.js"></script>
    <script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/actions.js"></script>

    <!-- START Parse.ly Include: Standard -->
    <div id="parsely-root" style="display: none">
        <div id="parsely-cfg" data-parsely-site="dallasnews.com"></div>
    </div>
    <script>
        (function(s, p, d) {
        var h=d.location.protocol, i=p+"-"+s,
        e=d.getElementById(i), r=d.getElementById(p+"-root"),
        u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
        :"static."+p+".com";
        if (e) return;
        e = d.createElement(s); e.id = i; e.async = true;
        e.src = h+"//"+u+"/p.js"; r.appendChild(e);
        })("script", "parsely", document);
    </script>
    <!-- END Parse.ly Include: Standard -->

</body>
</html>
